n8n/workflows/02-deadline-reminders.json
{
  "connections": {
    "Compute due reminders": {
      "main": [
        [
          {
            "index": 0,
            "node": "Filter unsent",
            "type": "main"
          }
        ]
      ]
    },
    "Daily at 09:00": {
      "main": [
        [
          {
            "index": 0,
            "node": "Query verified deadlines",
            "type": "main"
          }
        ]
      ]
    },
    "Filter unsent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send reminder",
            "type": "main"
          }
        ]
      ]
    },
    "Query verified deadlines": {
      "main": [
        [
          {
            "index": 0,
            "node": "Compute due reminders",
            "type": "main"
          }
        ]
      ]
    },
    "Send reminder": {
      "main": [
        [
          {
            "index": 0,
            "node": "Record sent",
            "type": "main"
          }
        ]
      ]
    }
  },
  "name": "Prospect – Deadline reminders",
  "nodes": [
    {
      "name": "Daily at 09:00",
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "position": [
        -208,
        400
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "name": "Query verified deadlines",
      "parameters": {
        "authentication": "predefinedCredentialType",
        "contentType": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2026-03-11"
            }
          ]
        },
        "jsonBody": "{\"filter\":{\"and\":[{\"property\":\"Verified\",\"checkbox\":{\"equals\":true}},{\"property\":\"Rolling\",\"checkbox\":{\"equals\":false}}]},\"page_size\":100}",
        "method": "POST",
        "nodeCredentialType": "notionApi",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "specifyHeaders": "keypair",
        "url": "https://api.notion.com/v1/data_sources/REPLACE_WITH_DATA_SOURCE_DEADLINES/query"
      },
      "position": [
        80,
        400
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2
    },
    {
      "name": "Compute due reminders",
      "parameters": {
        "jsCode": "{{FILE:n8n/code/compute-due-reminders.js}}",
        "mode": "runOnceForAllItems"
      },
      "position": [
        320,
        400
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "name": "Send reminder",
      "parameters": {
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true
        },
        "chatId": "={{ $json.chat_id }}",
        "operation": "sendMessage",
        "resource": "message",
        "text": "={{ $json.reminder_text }}"
      },
      "position": [
        560,
        400
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2
    },
    {
      "name": "Filter unsent",
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "132FXPAohVWMXdHq"
        },
        "filters": {
          "conditions": [
            {
              "condition": "eq",
              "keyName": "key",
              "keyValue": "={{ $json.key }}"
            }
          ]
        },
        "matchType": "allConditions",
        "operation": "rowNotExists",
        "resource": "row"
      },
      "position": [
        500,
        400
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    },
    {
      "name": "Record sent",
      "parameters": {
        "columns": {
          "mappingMode": "defineBelow",
          "schema": [
            {
              "canBeUsedToMatch": true,
              "display": true,
              "displayName": "key",
              "id": "key",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "display": true,
              "displayName": "opportunity_id",
              "id": "opportunity_id",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "display": true,
              "displayName": "deadline_id",
              "id": "deadline_id",
              "required": false,
              "type": "string"
            },
            {
              "canBeUsedToMatch": true,
              "display": true,
              "displayName": "sent_at",
              "id": "sent_at",
              "required": false,
              "type": "date"
            }
          ],
          "value": {
            "deadline_id": "={{ $('Compute due reminders').item.json.deadline_id }}",
            "key": "={{ $('Compute due reminders').item.json.key }}",
            "opportunity_id": "={{ $('Compute due reminders').item.json.opportunity_id }}",
            "sent_at": "={{ $('Compute due reminders').item.json.sent_at }}"
          }
        },
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "132FXPAohVWMXdHq"
        },
        "operation": "insert",
        "resource": "row"
      },
      "position": [
        800,
        400
      ],
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1
    }
  ],
  "settings": {
    "availableInMCP": true,
    "binaryMode": "separate",
    "executionOrder": "v1",
    "timezone": "Europe/London"
  }
}
